# OSX
.DS_Store

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# Env
.env
.env.local
.env.*.local

# Editor
.idea/
.vscode/

# TypeScript
*.tsbuildinfo

# Written by the WiseAI hub; never commit locally
.wiseai/status.md
